body {
  position: relative;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
header {
  position: relative;
  background-color: #404041;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  color: #ED458B;
  font-weight: 700;
  font-size: 35px;
}

.guesserTitle {
  color: #E6E7E8;
  font-weight: 300;
}

.top-container{
  position: relative;
  height: 200px;
  align-content: center;
}

.user-guess {
  position: absolute;
  border: 2px solid #D0D2D3;
  top: 20px;
  left: 15px;
  height: 50px;
  width: 90%;
  font-size: 25px;
  color: #929497;
}

.user-guess::-webkit-input-placeholder {
  font-size: 25px;
}

.guess, .clear {
  position: absolute;
  left: 17.5px;
}

.guess {
  top: 85px;
}

.clear {
  top: 140px;
}

.user-guess:focus, button:focus, .max:focus, .min:focus {
  outline: none;
}

button {
  background-color: #929497;
  color: #fff;
  border-style: none;
  border-radius: 20px;
  width: 90%;
  height: 45px;
}

button:hover {
  background-color: #EB008B;

}
button:disabled{
  background-color: #D0D2D3;
}

.middle-container {
  top: 150px;
  height: 200px;
}

.user-input {
  color: #EB008B;
  font-size: 120px;
}

.bottom-container {
  position: relative;
  height: 250px;
}

.min, .max {
  position: absolute;
  height: 50px;
  width: 110px;
  top: 50px;
  border: 2px solid #D0D2D3;
}
.min {
  left: 30px;
}
.max {
  right: 30px;
}

.min::-webkit-input-placeholder, .max::-webkit-input-placeholder {
  font-size: 20px;
}

.set, .reset {
  position: absolute;
  left: 17.5px;
}

.set {
  bottom: 55px;
}

.reset {
  bottom: 0;
}
@media screen and (min-width: 650px) {
  .user-guess {
    position: absolute;
    left: 25%;
    top: 20px;
    height: 50px;
    width: 50%;
    font-size: 25px;
  }

  .last-guess, .too, h4 {
    font-size: 25px;
  }

  .user-input {
    font-size: 125px;
  }

  .clear, .guess {
    width: 20%;
    top: 50%;
  }
  .clear {
    left: 55%;
  }

  .guess {
    left: 25%;
  }

  .min, .max {
    position: absolute;
    height: 50px;
    width: 20%;
    top: 50px;
    border: 2px solid #D0D2D3;
  }

  .min {
    left: 25%;
  }

  .max {
    right: 25%;
  }

  .set, .reset {
    width: 50%;
    left: 25%;
  }

  .set{
    top: 50%;
  }

  .reset {
    top: 75%;
  }
}
